<div class="container bg-white">
    <h2 class="header">{{ header }}</h2>
    <mat-dialog-content class="form-create shadow-md rounded px-8 pt-6 pb-8">
        <div class="mb-3 row field p-top">
            <span class="col-5 text-label" for="name">
                {{ "DISTRICT.DISTRICT_NAME" | translate }}
                <label class="require">*</label>
            </span>
            <input matInput
                class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="name" type="text" placeholder="" maxlength="100" [(ngModel)]="district.name"
                [ngModelOptions]="{ standalone: true }" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="province">
                {{ "DISTRICT.PROVINCE" | translate }}
                <label class="require">*</label>
            </span>

            <mat-form-field class="col-7">
                <mat-label>{{ "DISTRICT.PROVINCE" | translate }}</mat-label>
                <mat-select [formControl]="provinces" multiple>
                    <mat-select-trigger>
                        {{this.provinces.value ? this.provinces.value[0].label : ''}}
                        <span class="additional-selection" *ngIf="((provinces.value?.length || 0) > 1)">
                            (+{{(provinces.value?.length || 0) - 1}} {{provinces.value?.length === 2 ? 'khác' :
                            'khác'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="topping"
                        *ngFor="let topping of cities; track topping">{{topping.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="error || (error !== null && error.length !== 0)">
            <div class="col-5"></div>
            <div class="custom-span">
                <span class="span">{{ error }}</span>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="onCancel()">
            {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button mat-button class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
            (click)="onSubmit()">
            {{ "BUTTON.SAVE" | translate }}
        </button>
    </mat-dialog-actions>
</div>