<div class="ng-container">
    <h4 style="text-align: center;">{{"DETAILS_STATISTIC.TITLE" | translate}}</h4>
    <div class="div-filter">
        <!-- Customer -->
        <div *ngIf="!isAgency" class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.CUSTOMER" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="customerSelected"
                    (ngModelChange)="onChangeCustomer($event)">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_CUSTOMER" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of customerList">
                        {{ item.agencyName }}
                    </option>
                </select>
            </div>
        </div>
        <!-- Received Date -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.RECEIVED_DATE" | translate }}</span>
            <mat-form-field appearance="fill" class=" border rounded">
                <mat-label>Chọn từ ngày đến ngày</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Từ ngày" />
                    <input matEndDate formControlName="end" placeholder="Đến ngày" />
                </mat-date-range-input>
                <mat-hint style="display: none" [hidden]="true">DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <!-- Received Address -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.RECEIVED_ADDRESS" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="receivedAdressSelected">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_RECEIVED_ADDRESS" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of deliveries">
                        {{ item.label }}
                    </option>
                </select>
            </div>
        </div>
        <!-- License plate -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.LICENSE_PLATE" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="licensePlateSelected">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_LICENSE_PLATE" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of licensePlateList">
                        {{ item }}
                    </option>
                </select>
            </div>
        </div>
        <!-- Driver -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.DRIVER" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="driverSelected">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_DRIVER" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of driverList">
                        {{ item }}
                    </option>
                </select>
            </div>
        </div>
        <!-- Receipt -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.RECEIPT" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="receiptSelected">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_RECEIPT" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of receipt">
                        {{ item.label }}
                    </option>
                </select>
            </div>
        </div>
        <!-- Products -->
        <div class="div-header row">
            <span class="label">{{ "DETAILS_STATISTIC.PRODUCTS" | translate }}</span>
            <div class="" style="padding: 0;">
                <select class="form-select select" [(ngModel)]="productSelected">
                    <option [ngValue]="null" [disabled]="true" [selected]="true">
                        -- {{ "DETAILS_STATISTIC.SELECT_PRODUCTS" | translate }} --
                    </option>
                    <option [ngValue]="item" *ngFor="let item of productList">
                        {{ item.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="div-header div-btn">
            <button mat-raised-button class="btn-filter" (click)="onShow()" [disabled]="progressLoading">
                {{ "BUTTON.SHOW_REPORT" | translate }}
            </button>
        </div>
    </div>

    <div *ngIf="progressLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only" id="loading"></span>
        </div>
    </div>

    <div *ngIf="showDetailOrderTable && !progressLoading && dataSource.data.length === 0"
        class="d-flex justify-content-center" style="padding: 1rem;">
        {{"MESSAGE.NO_DATA" | translate}}
    </div>

    <div id="excelTabel" *ngIf="showDetailOrderTable && dataSource.data.length > 0" class="section">
        <div id="section1" class="section-1">
            <div class="div-header">
                <div class="div-header-right">
                    <span>{{"DETAILS_STATISTIC.TITLE1" | translate}}</span>
                    <span class="span2">{{fromToDate}}</span>
                </div>
                <h4 class="title">{{'DETAILS_STATISTIC.DETAIL_REPORT_TITLE' | translate}}</h4>
                <span>{{"DETAILS_STATISTIC.CUSTOMER_NAME" | translate}}{{customer}}</span>
            </div>

            <table mat-table [dataSource]="dataSource">

                <!-- NO Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{ "DETAILS_STATISTIC.NO" | translate }}</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.no !== 0 ? element.no : "-" }}
                    </td>
                </ng-container>

                <!-- CUSTOMER Column -->
                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.CUSTOMER' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.customer}}
                    </td>
                </ng-container>

                <!-- CREATEDATE Column -->
                <ng-container matColumnDef="createDate">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.CREATEDATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.createdDate}}
                    </td>
                </ng-container>

                <!-- CONTRACT Column -->
                <ng-container matColumnDef="contract">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.CONTRACT' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.contract}}
                    </td>
                </ng-container>

                <!-- RECEIVEDDATE Column -->
                <ng-container matColumnDef="receivedDate">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.RECEIVEDDATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.receivedDate}}
                    </td>
                </ng-container>

                <!-- CONFIRMDATE Column -->
                <ng-container matColumnDef="confirmDate">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.CONFIRMDATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.confirmedDate}}
                    </td>
                </ng-container>

                <!-- SHIPPINGDATE Column -->
                <ng-container matColumnDef="shippingDate">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.SHIPPINGDATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.shippingDate}}
                    </td>
                </ng-container>

                <!-- PICKUP ADDRESS Column -->
                <ng-container matColumnDef="pickupAddress">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.PICKUP_ADDRESS' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.pickupAddress}}
                    </td>
                </ng-container>

                <!-- DELIVERY_ADDRESS Column -->
                <ng-container matColumnDef="deliveryAddress">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.DELIVERY_ADDRESS' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.deliveryAddress}}
                    </td>
                </ng-container>

                <!-- PRODUCTS Column -->
                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef class="bg-yellow" [attr.colspan]="thColspan">
                        {{'DETAILS_STATISTIC.PRODUCTS' | translate}}
                    </th>
                    <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
                </ng-container>

                <!-- Product Category Column -->
                <ng-container [matColumnDef]="column.categoryValue" *ngFor="let column of productDataSource">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="column.pColspan"
                        class="{{getClass(column.categoryValue)}}">
                        {{column.displayedCategory}}
                    </th>
                    <!-- This column doesn't generate <td> items, so no need to add a definition for them -->
                </ng-container>

                <!-- Product Name Column -->
                <ng-container [matColumnDef]="item.label"
                    *ngFor="let item of displayedColumnsProductName;let i = index">
                    <th mat-header-cell *matHeaderCellDef class="align-top {{getClass(item.label)}}">
                        {{item.value}}</th>
                    <td mat-cell *matCellDef="let element" class="p-td {{getClass(item.label)}}">
                        {{element.products[i].pValue > 0 ? element.products[i].pValue : "-" }}
                    </td>
                </ng-container>

                <!-- RECEIPT Column -->
                <ng-container matColumnDef="receipt">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.RECEIPT' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.receipt}}
                    </td>
                </ng-container>

                <!-- SUM Column -->
                <ng-container matColumnDef="sum">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.SUM' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="bold p-td">{{element.sum > 0 ? element.sum : "-" }}
                    </td>
                </ng-container>

                <!-- LICENSE_PLATE Column -->
                <ng-container matColumnDef="license_plate">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.LICENSE_PLATE' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.licensePlate}}
                    </td>
                </ng-container>

                <!-- DRIVER Column -->
                <ng-container matColumnDef="driver">
                    <th mat-header-cell *matHeaderCellDef [attr.rowspan]="thRowspan">
                        {{'DETAILS_STATISTIC.DRIVER' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.driver}}
                    </td>
                </ng-container>

                <!-- Footer row sum label -->
                <ng-container matColumnDef="footer-row-label">
                    <th mat-footer-cell *matFooterCellDef [attr.colspan]="9">
                        {{'DETAILS_STATISTIC.SUM_ALL' | translate}}
                    </th>
                </ng-container>

                <!-- Footer row sum value -->
                <ng-container [matColumnDef]="col.label" *ngFor="let col of displayedRowSumSection;">
                    <td mat-footer-cell *matFooterCellDef class="bold p-td {{getClass(col.label)}}">
                        {{col.value > 0 ? col.value : ""}}
                    </td>
                </ng-container>

                <tr mat-header-row *matFooterRowDef="columnDefRowSumSection"></tr>
                <tr mat-header-row *matHeaderRowDef="columnsRow1Section"></tr>
                <tr mat-header-row *matHeaderRowDef="columnsRowProductCategory"></tr>
                <tr mat-header-row *matHeaderRowDef="columnsRowProductName"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSection;"></tr>
            </table>
        </div>

        <div class="div-footer-right">
            <span style="font-style: italic;">{{nowDay}}</span>
            <br />
            <span style="font-weight: 600;">{{"DETAILS_STATISTIC.WRITER" | translate}}</span>
        </div>

        <div class="div-footer div-btn">
            <button mat-raised-button class="btn-download" (click)="onExportExcel()">
                {{ "BUTTON.DOWNLOAD" | translate }}
            </button>
        </div>

    </div>
</div>