.ng-container {
    padding: 6rem 1rem 2rem;
    // overflow: scroll;

    .div-filter {
        max-width: 50rem;
        border: 1px solid lightgray;
        border-radius: 6px;
        padding: 1rem 0;
        margin: auto;
        margin-top: 1rem;

        .div-header {
            display: flex;
            margin-left: 0.25rem;
            margin-bottom: 1rem;
        }

        .div-btn {
            display: flex;
            justify-content: flex-end;
            padding-right: 3rem;
            margin-bottom: 0;
        }

        .label {
            margin-left: 3rem;
            margin-right: 1rem;
            font-weight: 500;
            width: 24%;
        }

        .select {
            width: 60%;
        }

        .row {
            flex-wrap: nowrap !important;
        }
    }

    .btn-filter {
        cursor: pointer;
        color: white;
        background-color: transparent;
        width: 135px;
        background: royalblue;
        border: 1px solid royalblue;
        border-radius: 4px;
    }

    .section {
        width: 100%;
        margin: 2rem 0;
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        display: block;
        border-top: 1px solid lightgrey;

        .section-1 {

            .title {
                text-align: center;
                padding-top: 0.75rem;
                font-weight: 600;
                padding-bottom: 0.5rem;
                margin-bottom: 0;
                color: black;
            }

            .div-header {
                padding-bottom: 1rem;
                padding-left: 1rem;

                span {
                    color: black;
                    font-weight: 600;
                    font-size: 14pt;
                }

                .div-header-right {
                    width: fit-content;
                    padding: 1rem 4rem 0rem;
                    background-color: lightgray;
                    margin-left: auto;
                    margin-right: 0;
                    display: grid;
                    text-align: center;

                    span {
                        color: black;
                        font-weight: 600;
                        font-size: 11pt;
                    }

                    .span2 {
                        font-style: italic;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 10pt;
                    }
                }
            }
        }

        table {
            border: 1px solid grey;

            th {
                color: rgb(0, 0, 0);
                width: auto;
                text-align: center;
                font-weight: 600;
            }

            th,
            td {
                border-bottom: 1px solid grey;
                border-right: 1px solid grey;
                border-style: dotted;
                padding: 0.5rem;
                font-size: 12pt;
            }

            td {
                white-space: pre;
                color: black;
                font-family: serif, 'Roboto';
                text-align: left;
                vertical-align: middle;
            }

            .p-td {
                text-align: right;
                vertical-align: middle;
            }

            .align-top {
                vertical-align: text-top;
            }

            .bold {
                font-weight: bold;
            }

            .bg-yellow {
                background-color: yellow;
            }

            .text-flowerblue {
                color: royalblue;
            }

            .text-red {
                color: red;
            }

            .text-green {
                color: mediumseagreen;
            }

            .text-grey {
                color: grey;
            }

            .pre-space {
                white-space: pre;
            }
        }

        .div-footer {
            display: flex;
            margin-left: 0.25rem;
            margin-bottom: 1rem;
        }

        .div-btn {
            display: flex;
            justify-content: flex-start;
            padding-left: 1rem;
            padding-bottom: 1rem;
            margin-top: 1rem;
        }

        .btn-download {
            cursor: pointer;
            color: white;
            background-color: transparent;
            width: 135px;
            background: royalblue;
            border: 1px solid royalblue;
            border-radius: 4px;
        }

        .div-footer-right {
            display: block;
            justify-content: flex-end;
            padding-right: 3rem;
            margin-bottom: 0;
            margin-top: 1rem;
            text-align: center;
            width: fit-content;
            margin-left: auto;
            margin-right: 0;

            span {
                color: black;
                font-size: 14pt;
                font-family: serif, 'Roboto';
                font-weight: 500;
            }
        }
    }

    .mat-mdc-table .mdc-data-table__header-row {
        height: 40px;
    }

    .mat-mdc-table .mdc-data-table__row {
        height: 40px;
    }

    .mat-mdc-form-field {
        width: 60%;
        flex-direction: row;
        padding: 0;

        ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            width: 0 !important;
        }
    }

    #loading {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}