.app-body.body {
    padding-left: 1rem !important;
    padding-top: 0 !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.container {
    height: auto;
    min-width: 90%;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.header {
    text-align: center;
    padding: 2rem 0;
    color: #1F497D;
}

.table-container {
    padding: 1rem;

    table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid grey;
        border-bottom: 1.05px solid grey;
        margin-bottom: 20px;
        overflow-x: auto;
        white-space: nowrap;
        max-height: 500px;
        overflow: auto;
        // display: block;

        .wrap-text {
            white-space: break-spaces;
        }

        .bg-tr {
            background: beige;
        }

        .nowrap {
            white-space: nowrap;
        }

        th {
            white-space: pre-wrap;
            background: #90bdf5;
            color: rgb(0, 0, 0);
            font-size: 12pt;
            font-weight: 600;
            border-right: 1px solid whitesmoke;
        }

        td {
            text-align: left;
            font-size: 11pt;
        }

        tr:hover {
            background-color: #e6e6e6;
            cursor: pointer;
        }

        .w20 {
            min-width: 20rem;
        }

        .break-space {
            white-space: break-spaces;
        }

        .del-action {
            background: whitesmoke;
        }
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
        border-right: 1px solid whitesmoke;
    }

    .demo-row-is-clicked {
        font-weight: bold;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .fa-trash {
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
    }

    .fa-pen {
        text-align: center;
        padding-top: 8px;
        margin-right: 8px;
        cursor: pointer;
    }

    .center {
        text-align: center;
        display: flex;
    }
}

.action-add {
    padding-right: 1rem;
    width: 100%;
    cursor: pointer;
    text-align: right;

    .btn-add {
        color: white;
        background-color: transparent;
        padding: 1.25rem;
        width: 145px;
        background: royalblue;
        border: 1px solid royalblue;
        border-radius: 4px;

        .fa-plus {
            color: #fff;
            font-size: 20px;
        }

        .pad-label {
            margin-left: 5px;
        }

        .pad-label:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:600px) {
    .container {
        padding-left: 1rem !important;
        padding-top: 5rem !important;

        .header {
            padding: 2rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 0.5rem !important;
        }

        .table-container {
            padding: 0 !important;

            table {
                display: block !important;
                margin-bottom: 0.5rem !important;
            }
        }
    }

}

@media only screen and (max-width:400px) {
    .container {
        margin-top: 5rem !important;
        padding-left: 0.5rem !important;
        padding-top: 1rem !important;

        .header {
            padding: 0.5rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 0.5rem !important;
        }

        .table-container {
            padding: 0 !important;
            margin-bottom: 1rem !important;

            table {
                display: block !important;
                margin-bottom: 0.5rem !important;
            }
        }
    }
}