.container {
    padding: 1.5rem 0;
    margin: 0 !important;
    min-width: 80vh;

    .header {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .require {
        color: red;
        margin-left: 0.25rem;
    }

    .text-label {
        text-align: left;
        align-self: center;
        font-weight: 600;
        padding-left: 1rem;
    }

    .mat-mdc-dialog-actions {
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .btn-save {
        color: white;
        background-color: royalblue;
        border-color: royalblue;
    }

    .btn-cancel {
        color: black;
        background-color: #dadada;
        border-color: #dadada;
        margin-right: 1rem;
    }

    .field {
        width: 100%;
    }

    .error {
        color: red;
        text-align: center;
        margin-top: 1rem;
    }

    mat-dialog-content {
        min-height: 18rem;
        height: 18rem;
        padding: 20px 10px 20px 24px !important;
    }
}

@media only screen and (max-width:600px) {
    .container {
        min-width: 0 !important;
        padding: 0.5rem !important;

        .header {
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;
            font-size: 17pt !important;
        }

        mat-dialog-content {
            padding: 0.5rem !important;
            overflow-x: hidden;
        }

        .col-3,
        .col-5,
        .col-6,
        .col-7,
        .col-9,
        select {
            width: 100% !important;
        }

        input,
        textarea {
            margin-left: 1rem !important;
        }

        .ton {
            display: block;
            margin-left: 7rem;
            margin-top: -2rem;
            position: relative;
        }
    }
}

@media only screen and (max-width:400px) {
    .container {
        min-width: 0 !important;
        padding: 0.5rem !important;

        .header {
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;
            font-size: 17pt !important;
        }

        mat-dialog-content {
            padding: 0.5rem !important;
            overflow-x: hidden;
        }

        .col-3,
        .col-5,
        .col-6,
        .col-7,
        .col-9,
        select {
            width: 100% !important;
        }

        input,
        textarea {
            margin-left: 1rem !important;
        }

        .ton {
            display: block;
            margin-left: 7rem;
            margin-top: -2rem;
            position: relative;
        }
    }
}