.app-body.body {
    padding-left: 1rem !important;
    padding-top: 0 !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.bg-white {
    margin-top: 4rem;
}

.header {
    text-align: center;
    padding: 1rem 0;
    color: #1F497D;
}

.table-container {
    padding: 1rem 1rem;

    table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid grey;
        border-bottom: 1.05px solid grey;
        margin-bottom: 20px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;

        max-height: 500px;
        overflow: auto;

        .nowrap {
            white-space: pre;
        }

        .pre-line {
            white-space: pre-line;
        }

        .status-icon {
            padding-top: 10px;
            padding-right: 10px;
        }

        .wrap-text {
            white-space: break-spaces;
        }

        .bg-tr {
            background: rgb(255, 255, 253);
        }

        th {
            white-space: pre;
            background: #90bdf5;
            color: rgb(0, 0, 0);
            border: 1px solid rgb(228, 222, 222);
            font-size: 11pt;
            width: auto;
            text-align: center;
        }

        td {
            border: 1px solid rgb(224, 222, 222);
            font-size: 11pt;
            width: 10%;
            text-align: center;
        }

        tr:hover {
            background-color: #d4cece;
            cursor: pointer;
        }

        .sticky-col {
            background-color: ghostwhite;
        }

        .mat-mdc-row .mat-mdc-cell {
            border-bottom: 1px solid rgb(203, 201, 201);
            border-top: 1px solid transparent;
        }

        .mat-mdc-row:hover .mat-mdc-cell {}

        .row-is-clicked {
            font-weight: bold;
        }

        th.mat-sort-header-sorted {
            color: black;
        }

        .center {
            text-align: center;
        }

        .color-green {
            color: rgb(39, 171, 39);
        }

        .color-black {
            color: rgb(96, 93, 93);
        }

        .color-red {
            color: red;
        }

        .fa-trash {
            text-align: center;
            padding-top: 8px;
            cursor: pointer;
        }

        .fa-pen {
            text-align: center;
            padding-top: 8px;
            margin-right: 8px;
            cursor: pointer;
        }

        .fa-print {
            text-align: center;
            padding-top: 8px;
            margin-right: 8px;
            cursor: pointer;
        }

        .fa-download {
            text-align: center;
            padding-top: 8px;
            margin-right: 8px;
            cursor: pointer;
        }

        .fa-envelope {
            text-align: center;
            padding-top: 8px;
            margin-right: 4px;
            color: red;
            font-size: 18px;
        }

        .fa-envelope-open {
            text-align: center;
            padding-top: 4px;
            margin-right: 2px;
            color: gray;
            font-size: 20px;
        }

        .new {
            color: red;
            font-size: 16px;
            font-weight: 600;
            font-family: auto;
        }

        .bold {
            font-weight: 500;
        }
    }
}

.action-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;

    .action-trigger-button {
        overflow: auto;
        float: left;

        .btn-trigger {
            background-color: gold;
            border: 1px solid gray;
            border-radius: 4px;
            margin-right: 1rem;
            width: 8rem;
            cursor: pointer;
            color: black;
            text-align: center;
            padding: 4px 0;

            label {
                cursor: pointer;
            }
        }

        .btn1:hover,
        .btn2:hover,
        .btn3:hover,
        .btn4:hover {
            background-color: yellow;
        }
    }

    .action-add {
        background: royalblue;
        border: 1px solid royalblue;
        border-radius: 4px;
        width: 8rem;
        cursor: pointer;
        overflow: auto;
        float: right;

        .btn-add {
            color: white;
            background-color: transparent;
            border: none;
            padding-left: 8px;
            padding-top: 8px;
            cursor: pointer;

            .fa-plus {
                color: #fff;
                font-size: 20px;
            }

            .pad-label {
                margin-left: 5px;
                position: absolute;
            }

            label {
                cursor: pointer;
            }
        }
    }
}

.action-export {
    background: royalblue;
    border: 1px solid royalblue;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-right: 2rem;
    width: 8rem;
    cursor: pointer;
    overflow: auto;
    float: right;

    .btn-export {
        color: white;
        background-color: transparent;
        border: none;
        padding-left: 8px;
        padding-top: 5px;
        cursor: pointer;

        .fa-download {
            color: #fff;
            font-size: 18px;
            padding-top: 3px;
        }

        .pad-label {
            margin-left: 5px;
            position: absolute;
        }
    }

    span {
        font-weight: 700;
    }
}

.action-search {
    margin: 0 2rem;
    border: 1px solid gray;
    border-radius: 4px;

    .action-submit {

        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        margin-right: 1rem;
        width: 100%;
        cursor: pointer;
        text-align: right;

        .btn-search {
            background: royalblue !important;
            border: 1px solid royalblue !important;
            border-radius: 4px;
            color: white;
            background-color: transparent;
            border: none;
            padding-left: 8px;
            padding-top: 5px;
            padding-right: 1rem;
            cursor: pointer;

            .fa-search {
                color: #fff;
                font-size: 18px;
                padding-top: 6px;
            }

            label {
                padding-left: 5px;
                padding-bottom: 5px;
            }
        }
    }

    span {
        text-align: end;
        font-weight: 700;
        margin: auto 0;
    }

    div {
        margin-top: 3px;
    }

    .select-1 {
        width: 58% !important;
    }

    select {
        width: 50% !important;
        max-height: 36px;
    }

    .id {
        max-height: 40px;
    }

    mat-form-field {
        padding: 0;

        ::ng-deep .mat-mdc-form-field-bottom-align {
            display: none;
        }
    }
}

@media only screen and (max-width:1000px) {
    .bg-white {
        //padding-left: 1.5rem !important;
    }

    .header {
        padding: 2rem 0 1rem 0 !important;
        //font-size: calc(1.2rem + 0.3vw) !important;
        font-weight: 600;
    }

    .action-search {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        margin: 0 0.5rem;

        .row {
            --mdb-gutter-x: 0rem !important;
            display: block;
        }

        .col-5,
        .col-6,
        .col-7,
        .select,
        .select-1 {
            width: 100% !important;
        }

        .action-submit {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            margin-right: 0.5rem;

            .btn-search {
                padding-left: 6px;
                padding-top: 2px;

                .fa-search {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }
    }

    .action-add {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        margin-right: 1rem !important;
        width: 7.5rem;

        .btn-add {
            padding-left: 6px;
            padding-top: 6px;

            .fa-plus {
                font-size: 18px;
                padding-top: 2px;
            }

            .pad-label {
                font-size: 12pt;
            }
        }
    }

    .table-container {
        padding: 1rem 0.5rem;

        table {
            margin-bottom: 0rem;
        }

        .bold {
            font-size: 12pt;
        }
    }

    .action-export {
        margin-right: 1rem !important;
    }
}

@media only screen and (max-width:800px) {
    .bg-white {
        //padding-left: 1.5rem !important;
    }

    .header {
        padding: 2rem 0 1rem 0 !important;
        //font-size: calc(1.2rem + 0.3vw) !important;
        font-weight: 600;
    }

    .action-search {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        margin: 0 0.5rem;

        .row {
            --mdb-gutter-x: 0rem !important;
            display: block;
        }

        .col-5,
        .col-6,
        .col-7,
        .select,
        .select-1 {
            width: 100% !important;
        }

        .action-submit {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            margin-right: 0.5rem;

            .btn-search {
                padding-left: 6px;
                padding-top: 2px;

                .fa-search {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }
    }

    .action-add {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        margin-right: 1rem !important;
        width: 7.5rem;

        .btn-add {
            padding-left: 6px;
            padding-top: 6px;

            .fa-plus {
                font-size: 18px;
                padding-top: 2px;
            }

            .pad-label {
                font-size: 12pt;
            }
        }
    }

    .table-container {
        padding: 1rem 0.5rem;

        table {
            margin-bottom: 0rem;
        }

        .bold {
            font-size: 12pt;
        }
    }

    .action-export {
        margin-right: 1rem !important;
    }

    .created-date {
        margin-top: 1.5rem !important;
    }
}

@media only screen and (max-width:600px) {
    .bg-white {
        //padding-left: 1.5rem !important;
    }

    .header {
        padding: 2rem 0 1rem 0 !important;
        //font-size: calc(1.2rem + 0.3vw) !important;
        font-weight: 600;
    }

    .action-search {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        margin: 0 0.5rem;

        .row {
            --mdb-gutter-x: 0rem !important;
            display: block;
        }

        .col-5,
        .col-6,
        .col-7,
        .select,
        .select-1 {
            width: 100% !important;
        }

        .action-submit {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            margin-right: 0.5rem;

            .btn-search {
                padding-left: 6px;
                padding-top: 2px;

                .fa-search {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }
    }

    .action-add {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        margin-right: 1rem !important;
        width: 7.5rem;

        .btn-add {
            padding-left: 6px;
            padding-top: 6px;

            .fa-plus {
                font-size: 18px;
                padding-top: 2px;
            }

            .pad-label {
                font-size: 12pt;
            }
        }
    }

    .table-container {
        padding: 1rem 0.5rem;

        table {
            margin-bottom: 0rem;

            .sticky-col {
                background-color: white !important;
            }
        }

        .bold {
            font-size: 12pt;
        }
    }

    .action-export {
        margin-right: 1rem !important;
    }

    .created-date {
        margin-top: 1.5rem !important;
    }

    .action-group {
        margin-right: 1rem !important;
        margin-left: 1rem !important;

        .btn3 {
            margin-top: 6px !important;
        }

        .btn-trigger {
            width: 7rem !important;
        }
    }
}

@media only screen and (max-width:400px) {
    .bg-white {
        //padding-top: 1rem !important;
    }

    .header {
        padding: 2rem 0 1rem 0 !important;
        font-size: calc(1.2rem + 0.3vw) !important;
        font-weight: 600;
    }

    .action-search {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        margin: 0 0.5rem;

        .row {
            --mdb-gutter-x: 0rem !important;
            display: block;
        }

        .col-5,
        .col-6,
        .col-7,
        .select,
        .select-1 {
            width: 100% !important;
        }

        .action-submit {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            margin-right: 0.5rem;

            .btn-search {
                padding-left: 6px;
                padding-top: 2px;

                .fa-search {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }
    }

    .action-add {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        margin-right: 1rem !important;
        width: 7.5rem;

        .btn-add {
            padding-left: 6px;
            padding-top: 6px;

            .fa-plus {
                font-size: 18px;
                padding-top: 2px;
            }

            .pad-label {
                font-size: 12pt;
            }
        }
    }

    .table-container {
        //  padding: 1rem 0.5rem;

        table {
            margin-bottom: 0rem;

            .sticky-col {
                background-color: white !important;
            }
        }

        .bold {
            font-size: 12pt;
        }
    }

    .action-export {
        margin-right: 1rem !important;
    }

    .created-date {
        margin-top: 1.5rem !important;
    }

    .action-group {
        margin-right: 1rem !important;
        margin-left: 1rem !important;

        .btn3 {
            margin-top: 6px !important;
        }

        .btn-trigger {
            width: 7rem !important;
        }
    }
}

@media only screen and (max-width:200px) {
    .header {
        padding: 2rem 0 1rem 0 !important;
        font-size: calc(1.2rem + 0.3vw) !important;
        font-weight: 600;
    }

    .action-search {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        margin: 0 0.5rem;

        .row {
            --mdb-gutter-x: 0rem !important;
            display: block;
        }

        .col-5,
        .col-6,
        .col-7,
        .select,
        .select-1 {
            width: 100% !important;
        }

        .action-submit {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            margin-right: 0.5rem;

            .btn-search {
                padding-left: 6px;
                padding-top: 2px;

                .fa-search {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }
    }

    .action-add {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        margin-right: 1rem;
        width: 7.5rem;

        .btn-add {
            padding-left: 6px;
            padding-top: 6px;

            .fa-plus {
                font-size: 18px;
                padding-top: 2px;
            }

            .pad-label {
                font-size: 12pt;
            }
        }
    }

    .table-container {
        padding: 1rem 0.5rem;

        table {
            margin-bottom: 0rem;

            .sticky-col {
                background-color: white !important;
            }
        }

        .bold {
            font-size: 12pt;
        }
    }

    .action-export {
        margin-right: 1rem !important;
    }

    .created-date {
        margin-top: 1.5rem !important;
    }

    .action-group {
        margin-right: 1rem !important;
        margin-left: 1rem !important;

        .btn3 {
            margin-top: 6px !important;
        }

        .btn-trigger {
            width: 7rem !important;
        }
    }
}