<div class="bg-white">
  <h2 class="header">{{ "ORDER.TITLE_LIST" | translate }}</h2>
  <div
    class="action-search shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <div class="row">
      <div class="col-6 row id">
        <span class="col-6" for="id">{{ "ORDER.SEARCH_ID" | translate }}</span>
        <input matInput
          class="col-6 appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="id" type="text" maxlength="20" [(ngModel)]="searchForm.approvedNumber" />
      </div>
      <div class="col-6 row created-date">
        <span class="col-5" for="createdDate">{{
          "ORDER.CREATEDDATE" | translate
          }}</span>
        <mat-form-field appearance="fill" class="col-7 border rounded">
          <mat-label>Chọn từ ngày đến ngày</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Từ ngày" />
            <input matEndDate formControlName="end" placeholder="Đến ngày" />
          </mat-date-range-input>
          <mat-hint style="display: none" [hidden]="true">DD/MM/YYYY - DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="!isAgency">
      <div class="col-6 row">
        <span class="col-6" for="agency">{{ "ORDER.AGENCY" | translate }}</span>
        <select class="col-6 form-select" [(ngModel)]="agencySelected" required>
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            -- {{ "ORDER.SELECT_AGENCY" | translate }} --
          </option>
          <option [ngValue]="item" *ngFor="let item of agencyList">
            {{ item.agencyName }}
          </option>
        </select>
      </div>
      <div class="col-6 row">
        <span class="col-5" for="product">{{
          "ORDER.PRODUCT" | translate
          }}</span>
        <select class="col-7 form-select select-1" [(ngModel)]="productSelected" required>
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            -- {{ "ORDER.SELECT_PRODUCT" | translate }} --
          </option>
          <option [ngValue]="item" *ngFor="let item of productList">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="!isAgency">
      <div class="col-6 row">
        <span class="col-6" for="status">{{ "ORDER.STATUS" | translate }}</span>
        <select class="col-6 form-select" [(ngModel)]="selectedStatus">
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            -- {{ "ORDER.LABEL_STATUS" | translate }} --
          </option>
          <option [ngValue]="item" *ngFor="let item of status">
            {{ item.label }}
          </option>
        </select>
      </div>
      <div class="col-6"></div>
    </div>

    <div class="row" *ngIf="isAgency">
      <div class="col-6 row">
        <span class="col-6" for="status">{{ "ORDER.STATUS" | translate }}</span>
        <select class="col-6 form-select" [(ngModel)]="selectedStatus">
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            -- {{ "ORDER.LABEL_STATUS" | translate }} --
          </option>
          <option [ngValue]="item" *ngFor="let item of status">
            {{ item.label }}
          </option>
        </select>
      </div>
      <div class="col-6 row">
        <span class="col-5" for="product">{{
          "ORDER.PRODUCT" | translate
          }}</span>
        <select class="col-7 form-select select-1" [(ngModel)]="productSelected" required>
          <option [ngValue]="null" [disabled]="true" [selected]="true">
            -- {{ "ORDER.SELECT_PRODUCT" | translate }} --
          </option>
          <option [ngValue]="item" *ngFor="let item of productList">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="action-submit">
      <button mat-raised-button type="submit" class="btn-search" (click)="onSearch()">
        <mat-icon aria-hidden="false" aria-label="Search icon" fontSet="fas" fontIcon="fa-magnifying-glass"
          class="fa-search"></mat-icon>
        <label>{{ "BUTTON.SEARCH" | translate }}</label>
      </button>
    </div>
  </div>
  <div class="action-group">
    <div class="action-trigger-button">
      <button mat-raised-button class="btn1 btn-trigger" (click)="onLoadLasted(1)">
        <label class="pad-label">{{ "BUTTON.WAITING" | translate }}</label>
      </button>
      <button mat-raised-button class="btn2 btn-trigger" (click)="onLoadLasted(2)">
        <label class="pad-label">{{ "BUTTON.AGREE" | translate }}</label>
      </button>
      <button mat-raised-button class="btn3 btn-trigger" (click)="onLoadLasted(4)">
        <label class="pad-label">{{ "BUTTON.RECEIVED" | translate }}</label>
      </button>
      <button mat-raised-button class="btn4 btn-trigger" (click)="onLoadLasted(5)">
        <label class="pad-label">{{ "BUTTON.CANCELED" | translate }}</label>
      </button>
    </div>

    <div class="action-add" [hidden]="!isAdmin && !isAgency && !isSalesman">
      <button mat-raised-button class="btn-add" (click)="onAdd()">
        <mat-icon aria-hidden="false" aria-label="Add icon" fontSet="fas" fontIcon="fa-plus" class="fa-plus"></mat-icon>
        <label class="pad-label">{{ "BUTTON.ADD" | translate }}</label>
      </button>
    </div>
  </div>
  <div class="table-container" #TABLE #table>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ApprovedNumber column -->
      <ng-container matColumnDef="approvedNumber" [sticky]="sticky">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by approvedNumber"
          class="nowrap">
          {{ "ORDER.APPROVED_NUMBER_1" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="sticky-col center {{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.approvedNumber !== 0 ? element.approvedNumber : "-" }}
        </td>
      </ng-container>

      <!-- AgencyName Column -->
      <ng-container matColumnDef="agencyName" *ngIf="!isAgency" [sticky]="sticky">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by agencyName" class="nowrap">
          {{ "ORDER.AGENCY" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="sticky-col {{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.agencyName }}
        </td>
      </ng-container>

      <!-- contract Column -->
      <ng-container matColumnDef="contract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contract" class="nowrap">
          {{ "ORDER.CONTRACT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.contract }}
        </td>
      </ng-container>

      <!-- createdDate Column -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by created date"
          class="nowrap">
          {{ "ORDER.CREATEDDATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.createdDate }}
        </td>
      </ng-container>

      <!-- receivedDate Column -->
      <ng-container matColumnDef="receivedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by received date"
          class="nowrap">
          {{ "ORDER.RECEIVEDDATE1" | translate }} <br />{{
          "ORDER.RECEIVEDDATE2" | translate
          }}

        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.receivedDate }}
        </td>
      </ng-container>

      <!-- confirmedDate Column -->
      <ng-container matColumnDef="confirmedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by confirmed date"
          class="nowrap">
          {{ "ORDER.CONFIRMED_DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.confirmedDate }}
        </td>
      </ng-container>

      <!-- shippingDate Column -->
      <ng-container matColumnDef="shippingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by shipping date"
          class="nowrap">
          {{ "ORDER.SHIPPING_DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.shippingDate }}
        </td>
      </ng-container>

      <!-- deliveryId Column -->
      <ng-container matColumnDef="deliveryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deliveryId" class="nowrap">
          {{ "ORDER.DELIVERY_ADDRESS" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ compareObj(deliveries, element.deliveryId) }}
        </td>
      </ng-container>

      <!-- pickupId Column -->
      <ng-container matColumnDef="pickupId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pickupId" class="nowrap">
          {{ "ORDER.PICKUP_ADDRESS" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ compareObj(cities, element.pickupId) }}
        </td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productName">
          {{ "ORDER.PRODUCT" | translate }}
        </th>
        <td mat-cell class="wrap-text" *matCellDef="let element" class="nowrap" style="text-align: start;">
          <span *ngFor="let i of element.products" class="{{
              element.isViewed === 0 &&
              (element.sender !== element.agencyId ||
                element.sender === element.agencyId)
                ? 'bold'
                : ''
            }}">
            {{ i.name }}<br />
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity" class="nowrap">
          {{ "ORDER.QUANTITY" | translate }} <br />(tấn)
        </th>
        <td mat-cell class="wrap-text center" *matCellDef="let element">
          <span *ngFor="let i of element.products" class="{{
              element.isViewed === 0 &&
              (element.sender !== element.agencyId ||
                element.sender === element.agencyId)
                ? 'bold'
                : ''
            }}">
            {{ i.quantity }} <br />
          </span>
        </td>
      </ng-container>

      <!-- productTotal Column -->
      <ng-container matColumnDef="productTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productTotal"
          class="nowrap">
          {{ "ORDER.TOTAL" | translate }} <br /> (tấn)
        </th>
        <td mat-cell *matCellDef="let element" class="center {{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.productTotal }}
        </td>
      </ng-container>

      <!-- licensePlates Column -->
      <ng-container matColumnDef="licensePlates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by license plates"
          class="nowrap">
          {{ "ORDER.LICENSE_PLATE1" | translate }} <br />
          {{ "ORDER.LICENSE_PLATE2" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="center {{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.licensePlates }}
        </td>
      </ng-container>

      <!-- driver Column -->
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by driver" class="nowrap">
          {{ "ORDER.DRIVER" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="pre-line {{
            element.isViewed === 0 &&
            (element.sender !== element.agencyId ||
              element.sender === element.agencyId)
              ? 'bold'
              : ''
          }}">
          {{ element.driver }}
        </td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status" class="nowrap">
          {{ "ORDER.STATUS" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="{{
            element.status === 1
              ? 'color-black'
              : element.status === 5
              ? 'color-red'
              : 'color-green'
          }}">
          <mat-icon aria-hidden="false" aria-label="Confirm icon" fontSet="fas" fontIcon="{{
              element.status === 1 || element.status === 2
                ? 'fa-spinner'
                : element.status === 3
                ? 'fa-truck'
                : element.status === 5
                ? 'fa-xmark'
                : 'fa-check'
            }}" class="status-icon"></mat-icon>
          <label class="pad-label {{
              element.isViewed === 0 &&
              (element.sender !== element.agencyId ||
                element.sender === element.agencyId)
                ? 'bold'
                : ''
            }}">{{
            (element.status === 1
            ? "ORDER.STATUS_WAITING"
            : element.status === 2
            ? "ORDER.STATUS_RECEIVING"
            : element.status === 3
            ? "ORDER.STATUS_SHIPPING"
            : element.status === 4
            ? "ORDER.STATUS_RECEIVED"
            : "ORDER.STATUS_CANCEL"
            ) | translate
            }}</label>
        </td>
      </ng-container>

      <!-- delete action Column -->
      <ng-container matColumnDef="deleteAction" [stickyEnd]="sticky">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Các thao tác</th>
        <td mat-cell *matCellDef="let element" class="sticky-col del-action">
          <div class="center">
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontSet="fas" fontIcon="fa-pen" class="fa-pen"
              (click)="onEdit(element)"></mat-icon>
            <mat-icon aria-hidden="false" [hidden]="!isAdmin && !isStocker" aria-label="Print icon" fontSet="fas"
              fontIcon="fa-print" class="fa-print" (click)="onPrint(element)"></mat-icon>
            <mat-icon [hidden]="!isAdmin" aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-trash"
              class="fa-trash" (click)="onDelete(element)"></mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="no-data">
        <td mat-header-cell *matHeaderCellDef [attr.colspan]="colspan" class="bold">
          {{ "MESSAGE.NO_DATA" | translate }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matHeaderRowDef="['no-data']" class="text-center" [hidden]="hasData"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [hidden]="!hasData" [pageSizeOptions]="[10, 20, 30, 50 , 200, 500]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div class="action-export" [hidden]="dataSource.data.length === 0">
    <button mat-raised-button class="btn-export" (click)="exportToExcel()" [hidden]="!isAdmin">
      <mat-icon aria-hidden="false" aria-label="Export icon" fontSet="fas" fontIcon="fa-download"
        class="fa-download"></mat-icon>
      <label class="pad-label">{{ "BUTTON.DOWNLOAD" | translate }}</label>
    </button>
  </div>
  <div class="py-5"></div>
</div>