.container {
    padding: 1.5rem;
    margin: 0 !important;
    min-width: 80vh;

    .header {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    .require {
        color: red;
        margin-left: 0.25rem;
    }

    .mat-mdc-dialog-actions {
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .btn-save {
        color: white;
        background-color: royalblue;
        border-color: royalblue;
    }

    .btn-cancel {
        color: black;
        background-color: #dadada;
        border-color: #dadada;
        margin-right: 1rem;
    }

    .text-label {
        text-align: left;
        align-self: center;
        font-weight: 500;
        padding-left: 1rem;
    }

    .field {
        width: 100%;
    }

    .custom-span {
        bottom: 0;
        left: 0;
        right: 0;
        color: red;
    }

    .form-create {
        padding: 1rem 0.5rem;
    }

    .span {
        justify-content: center;
        display: flex;
    }

    .focus-p:focus {
        border: 1px solid red !important;
    }

    mat-form-field {
        padding-left: 0;
        padding-right: 0;
    }

    .additional-selection {
        opacity: 0.75;
        font-size: 0.75em;
    }

    select {
        width: 58%;
    }

    .action-button {
        button {
            width: 48px;
            background-color: royalblue;
            color: white;
        }
    }
}

@media only screen and (max-width:600px) {
    .container {
        min-width: 0 !important;
        padding: 0.5rem !important;

        .header {
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;
            font-size: 15pt !important;
        }

        mat-dialog-content {
            padding: 0.5rem !important;
            overflow-x: hidden;
        }

        .col-3,
        .col-5,
        .col-6,
        .col-7,
        .col-9 {
            width: 100%;
        }

        input,
        textarea {
            margin-left: 1rem !important;
        }

        .ton {
            display: block;
            margin-left: 7rem;
            margin-top: -2rem;
            position: relative;
        }

        .mat-mdc-dialog-actions {
            margin-right: 0 !important;
        }

        select {
            width: 98% !important;
            margin-left: 1rem !important;
        }
    }
}

@media only screen and (max-width:400px) {
    .container {
        min-width: 0 !important;
        padding: 0.5rem !important;

        .header {
            padding-bottom: 0.5rem !important;
            padding-top: 0.5rem !important;
            font-size: 15pt !important;
        }

        mat-dialog-content {
            padding: 0.5rem !important;
            overflow-x: hidden;
        }

        .col-3,
        .col-5,
        .col-6,
        .col-7,
        .col-9 {
            width: 100%;
        }

        input,
        textarea {
            margin-left: 1rem !important;
        }

        .ton {
            display: block;
            margin-left: 7rem;
            margin-top: -2rem;
            position: relative;
        }

        .mat-mdc-dialog-actions {
            margin-right: 0 !important;
        }

        select {
            width: 98% !important;
            margin-left: 1rem !important;
        }
    }
}