<div class="bg-white container">
    <h2 class="header">{{'STORE.TITLE' | translate}}</h2>

    <div class="action-add row">
        <button class="btn-add" (click)="onEdit(null)" [hidden]="isStocker">
            <mat-icon aria-hidden="false" aria-label="Add icon" fontSet="fas" fontIcon="fa-plus"
                class="fa-plus"></mat-icon>
            <label class="pad-label">{{'BUTTON.ADD' | translate}}</label>
        </button>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- agencyName Column -->
            <ng-container matColumnDef="agencyName" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    {{'STORE.AGENCY_NAME' | translate}}</th>
                <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('agencyName', i)"
                    [style.display]="getRowSpan('agencyName', i) ? '' : 'none'">
                    {{element.agencyName}}
                </td>
            </ng-container>

            <!-- districtName Column -->
            <ng-container matColumnDef="districtName">
                <th mat-header-cell *matHeaderCellDef class="w-8rem">
                    {{'STORE.DISTRICT_NAME' | translate}}
                </th>
                <td mat-cell class="wrap-text" *matCellDef="let element; let i = index"
                    [attr.rowspan]="getRowSpan('districtName', i)"
                    [style.display]="getRowSpan('districtName', i) ? '' : 'none'">
                    {{element.districtName}}
                </td>
            </ng-container>

            <!-- provinceName Column -->
            <ng-container matColumnDef="provinceName">
                <th mat-header-cell *matHeaderCellDef class="w-9rem">
                    {{'STORE.PROVINCE' | translate}}
                </th>
                <td mat-cell class="wrap-text" *matCellDef="let element; let i = index"
                    [attr.rowspan]="getRowSpan('provinceName', i)"
                    [style.display]="getRowSpan('provinceName', i) ? '' : 'none'">
                    {{element.provinceName}}
                </td>
            </ng-container>

            <!-- storeName Column -->
            <ng-container matColumnDef="storeName">
                <th mat-header-cell *matHeaderCellDef class="w-8rem">
                    {{'STORE.STORE_NAME' | translate}}</th>
                <td mat-cell class="wrap-text" *matCellDef="let element">
                    {{element.storeName}}
                </td>
            </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="w-9rem">
                    {{'STORE.ADDRESS' | translate}}</th>
                <td mat-cell class="wrap-text" *matCellDef="let element">
                    {{element.address}}
                </td>
            </ng-container>

            <!-- phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef class="w-8rem">
                    {{'STORE.PHONE' | translate}}</th>
                <td mat-cell class="wrap-text" *matCellDef="let element">
                    {{element.phone}}
                </td>
            </ng-container>

            <!-- delete action Column -->
            <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Các thao tác</th>
                <td mat-cell *matCellDef="let element">
                    <div class="center">
                        <mat-icon aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-pen"
                            class="fa-pen" (click)="onEdit(element)"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Trash icon" fontSet="fas" fontIcon="fa-trash"
                            class="fa-trash" (click)="onDelete(element)" [hidden]="isStocker"></mat-icon>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="no-data">
                <td mat-header-cell *matHeaderCellDef [attr.colspan]="colspan">
                    <span class="no-data">{{'MESSAGE.NO_DATA' | translate}}</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matHeaderRowDef="['no-data']" class="text-center" [hidden]="hasData"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator *ngIf="hasData" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>