.app-body.body {
    padding-left: 1rem !important;
    padding-top: 0 !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.container {
    height: auto;
    min-width: 100%;
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.header {
    text-align: center;
    padding: 2rem 0;
    color: #1F497D;
}

.table-container {
    padding: 1rem;

    table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid grey;
        border-bottom: 1.05px solid grey;
        margin-bottom: 20px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        max-height: 500px;
        overflow: auto;

        .wrap-text {
            white-space: break-spaces;
        }

        .bg-tr {
            background: beige;
        }

        .nowrap {
            white-space: nowrap;
        }

        th {
            white-space: pre-wrap;
            background: #90bdf5;
            color: rgb(0, 0, 0);
            font-size: 12pt;
            border: 1px solid whitesmoke;
            font-weight: 600;
        }

        td {
            text-align: left;
            font-size: 11pt;
            padding-left: 10px !important;

            .no-data {
                padding: 0px 0.5rem;
            }

            .col-content {
                min-width: 30px;
                max-width: 300px;
            }

            .show-content-detail {
                color: rgb(8, 140, 8);
                font-weight: 500;
                font-style: italic;
            }

            .show-content-detail:hover {
                cursor: pointer;
                color: rgb(9, 203, 2);
            }
        }

        tr:hover {
            background-color: #e6e6e6;
            cursor: pointer;
        }

        th,
        td {
            padding: 6px;
        }

        .w6 {
            min-width: 6rem;
        }

        .w9 {
            min-width: 9rem;
        }

        .w12 {
            min-width: 12rem;
        }

        .w15 {
            min-width: 15rem;
        }

        .w3 {
            min-width: 3rem;
        }

        .focus:hover {
            color: blue;
            font-weight: 700;
            cursor: pointer;
        }

        .focus {
            font-style: italic;
        }

        .del-action {
            background: whitesmoke;
        }

        .rowid {
            min-width: 4rem;
            max-width: 4rem;
        }
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
        border-right: 1px solid whitesmoke;
    }

    .demo-row-is-clicked {
        font-weight: bold;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .fa-trash {
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
    }

    .fa-pen {
        text-align: center;
        padding-top: 8px;
        margin-right: 8px;
        cursor: pointer;
    }

    .center {
        text-align: center;
        display: flex;
    }
}

.action-search {
    margin: auto;
    padding: 0 1.75rem;
    text-align: -webkit-right;

    // .ml-1 {
    //     margin-left: 1rem;
    // }

    .p1 {
        padding: 1rem;
    }

    .div-search {
        display: flex;
        justify-content: space-between;

        span {
            text-align: end;
            font-weight: 700;
            margin: auto 0 0.5rem;
            width: auto;
        }

        mat-form-field {
            padding: 0;
            width: auto;

            ::ng-deep .mat-mdc-form-field-bottom-align {
                display: none;
            }
        }

        select {
            margin: auto 0;
            width: auto;
            min-height: 40px;
        }

        .w-auto {
            width: auto;

            span {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .action-add {
            margin-top: 0.5rem;
            cursor: pointer;
            display: block;
            margin: auto 0;

            .btn-add,
            .btn-search {
                border: 1px solid royalblue;
                color: white;
                background-color: royalblue;
                padding: 1.25rem;
                text-align: justify;
                border-radius: 4px;
                width: 145px;

                .fa-plus {
                    color: #fff;
                    font-size: 18px;
                }

                .fa-search {
                    color: #fff;
                    font-size: 17px;
                }

                label {
                    padding-left: 5px;
                }
            }

            .btn-search {
                margin-right: 1rem;
            }
        }
    }
}

::ng-deep .my-panel .mat-dialog-container {
    overflow: hidden !important;
    border-radius: 5px !important;
    padding: 5px !important;
}

@media only screen and (max-width:600px) {
    .container {
        padding-left: 1rem !important;
        margin-top: 6rem !important;

        .header {
            padding: 1rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
            padding-right: 0 !important;
            display: contents !important;

            .btn-search,
            .btn-add {
                margin: 0.5rem 0 !important;
            }
        }

        .table-container {
            padding: 0 !important;

            table {
                display: block !important;
                margin-bottom: 0.5rem !important;
            }
        }

        .action-search {
            padding: 0 1rem !important;
        }

        .district {
            text-align: left !important;
            padding-left: 0 !important;
        }
    }

}

@media only screen and (max-width:400px) {
    .container {
        padding-left: 1rem !important;
        margin-top: 6rem !important;

        .header {
            padding: 1rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
            padding-right: 0 !important;
            display: contents !important;

            .btn-search,
            .btn-add {
                margin: 0.5rem 0 !important;
            }
        }

        .table-container {
            padding: 0 !important;
            margin-bottom: 1rem !important;

            table {
                display: block !important;
                margin-bottom: 0.5rem !important;
            }
        }

        .action-search {
            padding: 0 1rem !important;
        }

        .district {
            text-align: left !important;
            padding-left: 0 !important;
        }
    }
}