.app-body.body {
    padding-left: 1rem !important;
    padding-top: 0 !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
}

.container {
    padding-bottom: 2rem;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
}

.header {
    text-align: center;
    padding: 2rem 0;
    color: #1F497D;
    ;

}

.pre-line {
    white-space: pre-line !important;
}

.table-container {
    padding: 0 1rem 1rem;

    table {
        table-layout: fixed;
        width: 100%;
        border: 1px solid transparent;
        border-bottom: 1.05px solid transparent;
        margin-bottom: 20px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        text-align: center;
        max-height: 500px;
        overflow: auto;

        .wrap-text {
            white-space: break-spaces;
        }

        .bg-tr {
            background: beige;
        }

        .nowrap {
            white-space: nowrap;
        }

        th {
            top: -2px !important;
            white-space: pre;
            color: rgb(0, 0, 0);
            font-size: 12pt;
            background-color: rgb(201, 201, 201);

            label {
                margin-left: 5px;
            }
        }

        td {
            font-size: 11pt;
            width: auto;

            .col-content {
                min-width: 30px;
                max-width: 300px;
            }

            .show-content-detail {
                color: rgb(8, 140, 8);
                font-weight: 500;
                font-style: italic;
            }

            .show-content-detail:hover {
                cursor: pointer;
                color: rgb(9, 203, 2);
            }
        }

        tr:hover {
            background-color: #e6e6e6;
            cursor: pointer;
        }

        .color-green {
            color: rgb(39, 171, 39);
        }

        .color-black {
            color: black;
        }

        .status-icon {
            padding-top: 8px;
            padding-right: 8px;
        }

        .focus:hover {
            color: blue;
            font-weight: 700;
            cursor: pointer;
        }

        .focus {
            font-style: italic;
        }

        .bold {
            font-weight: 600;
        }

        .width-110 {
            width: 137px;
            min-width: 110px;
        }

        .width-300 {
            width: 300px;
            display: block;
            white-space: break-spaces;
        }

        button {
            border: none;
            background-color: transparent;
            padding: 0.5rem 1rem;
        }

        .btn1:hover,
        .btn1 mat-icon:hover,
        .btn1 label:hover,
        .btn2:hover,
        .btn2 mat-icon:hover,
        .btn2 label:hover,
        .btn3:hover,
        .btn3 mat-icon:hover,
        .btn3 label:hover {
            cursor: pointer;
            background-color: grey;
        }
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
    }

    .mat-mdc-row:hover .mat-mdc-cell {
        border-color: currentColor;
    }

    .demo-row-is-clicked {
        font-weight: bold;
    }

    th.mat-sort-header-sorted {
        color: black;
    }

    .fa-trash {
        text-align: center;
        padding-top: 8px;
        cursor: pointer;
    }

    .fa-pen {
        text-align: center;
        padding-top: 8px;
        margin-right: 8px;
        cursor: pointer;
    }

    .center {
        text-align: center;
        display: flex;
    }
}

.action {
    margin: 1rem 1rem 0;

    button {
        border: none;
        background-color: transparent;
        padding: 0.5rem 1rem;

        mat-icon {
            padding-top: 8px;
            padding-right: 8px;
        }
    }

    button:hover {
        cursor: pointer;
        background-color: whitesmoke;
        border-radius: 4px;

        mat-icon {
            color: #ff4081;
        }

        label {
            color: dimgray;
            cursor: pointer;
            font-weight: 500;
        }
    }

}

.action-add {
    // background: royalblue;
    // border: 1px solid royalblue;
    // border-radius: 4px;
    // margin-bottom: 1rem;
    // margin-right: 5rem;
    // width: 8rem;
    // cursor: pointer;
    width: 100%;
    text-align: right;

    .btn-add {
        color: white;
        background-color: transparent;
        border: none;
        padding: 4px;

        width: 150px;
        background: royalblue;
        border: 1px solid royalblue;
        border-radius: 4px;

        .fa-plus {
            color: #fff;
            font-size: 20px;
            padding-top: 6px;
        }

        .pad-label {
            margin-left: 5px;
        }
    }
}

.mat-mdc-dialog-content .mdc-dialog__content {
    font-family: 'Times New Roman', Times, serif;
}

::ng-deep .body {
    height: 100%;
    min-height: 100%;
}

@media only screen and (max-width:600px) {
    .container {
        padding-left: 1rem !important;
        padding-top: 1rem !important;

        .header {
            padding: 2rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
        }

        .table-container {
            padding: 0 !important;

            table {
                margin-bottom: 0.5rem !important;
                display: block !important;

                th {
                    button {
                        background-color: lightgray;
                        border-radius: 4px;
                        border: 1px solid whitesmoke;
                    }
                }


                .width-300 {
                    width: 200px;
                    display: block;
                    white-space: break-spaces;
                }
            }
        }

        .action {
            margin: 0 !important;

            button {
                cursor: pointer;
                background-color: whitesmoke;
                border-radius: 4px;
                border: 1px solid grey;
                margin-bottom: 5px;

                mat-icon {
                    color: #ff4081;
                }

                label {
                    color: dimgray;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (max-width:400px) {
    .container {
        padding-left: 1rem !important;
        padding-top: 1rem !important;

        .header {
            padding: 2rem 0 1rem 0 !important;
            font-size: calc(1.2rem + 0.3vw) !important;
            font-weight: 600;
        }

        .action-add {
            margin-right: 0 !important;
        }

        .table-container {
            padding: 0 !important;

            table {
                margin-bottom: 0.5rem !important;
                display: block !important;

                th {
                    button {
                        background-color: lightgray;
                        border-radius: 4px;
                        border: 1px solid whitesmoke;
                    }
                }

                .width-300 {
                    width: 200px;
                    display: block;
                    white-space: break-spaces;
                }
            }
        }

        .action {
            margin: 0 !important;

            button {
                cursor: pointer;
                background-color: whitesmoke;
                border-radius: 4px;
                border: 1px solid grey;
                margin-bottom: 5px;

                mat-icon {
                    color: #ff4081;
                }

                label {
                    color: dimgray;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }
}