.head {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: all .5s ease;
    background: #1F497D;
    padding: 0.65rem 0 0;
    border-radius: 0.15rem;
    box-shadow: 0px 0px 10px 0 rgb(34 41 47 / 10%);
}

.head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;

    .head-content-left {
        display: flex;
        margin-left: -2rem;

        .span {
            color: white;
            font-weight: 600;
            margin: auto 0.5rem;
        }

        img:hover,
        h5:hover {
            cursor: pointer;
        }
    }

    .head-content-right {
        display: flex;
        justify-content: flex-end;

        .agency {
            color: white;
            font-weight: 600;
            padding-left: 4px;
            font-size: 12pt;
        }

        :host {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .demo-section+.demo-section {
            margin-top: 16px;
        }

        ::ng-deep .mat-badge-content {
            width: 8px;
            height: 8px;
            line-height: 8px;
            color: red;
            right: -2px !important;
            top: -6px !important;
        }

        .fa-bell {
            margin-left: 1.5rem;
            color: white;
            cursor: pointer;
            font-size: 18px;
        }

        .fa-user {
            color: white;
            font-size: 18px;
            padding-top: 4px;
        }

        .user {
            display: flex;
        }

        .cursor {
            cursor: pointer;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.align-end {
    text-align: end;
}

.sub-menu {
    .menu-item {
        color: white;
        font-size: 11pt;
        font-family: 'Roboto', sans-serif;
    }
}

.mat-mdc-menu-item .mat-icon {
    margin-right: 4px !important;
    height: 18px !important;
}

.mat-toolbar-row {
    height: 54px;
}

@media only screen and (max-width:600px) {
    .head-content {
        padding: 0.4rem 0.25rem !important;

        .head-content-left {
            .span {
                font-size: 16pt;
                padding: 4px;
            }
        }

        .head-content-right {

            .fa-bell {
                margin-left: 0.5rem !important;
            }
        }
    }
}

@media only screen and (max-width:400px) {
    .head-content {
        padding: 0.4rem 0.25rem !important;

        .head-content-left {
            .span {
                font-size: 14pt !important;
                padding: 4px;
            }
        }

        .head-content-right {

            .fa-bell {
                margin-left: 0.5rem !important;
            }
        }
    }
}

@media only screen and (max-width:200px) {
    .head-content {
        padding: 0.4rem 0.25rem !important;

        .head-content-left {
            .span {
                font-size: 14pt;
                padding: 4px;
            }
        }

        .head-content-right {

            .fa-bell {
                margin-left: 0.5rem !important;
            }
        }
    }
}