.head {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    transition: all .5s ease;
    background: #1F497D;
    padding: 0.65rem 0 0;
    border-radius: 0.15rem;
    box-shadow: 0px 0px 10px 0 rgb(34 41 47 / 10%);
}

mat-toolbar-row {
    background-color: #1F497D;
}

// .row2 {
//     justify-content: flex-end;
//     flex: 0
// }

.head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;

    .head-content-left {
        display: flex;
        margin-left: -2rem;

        .span {
            color: white;
            font-weight: 600;
            margin: auto 0.5rem;
        }

        img:hover,
        h5:hover {
            cursor: pointer;
        }
    }

    .head-content-right {
        display: flex;
        justify-content: flex-end;

        .agency {
            color: white;
            font-weight: 600;
            padding-left: 4px;
            font-size: 13pt;
        }

        :host {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .demo-section+.demo-section {
            margin-top: 16px;
        }

        ::ng-deep .mat-badge-content {
            width: 8px;
            height: 8px;
            line-height: 8px;
            color: red;
            right: -2px !important;
            top: -6px !important;
        }

        .fa-bell {
            margin-left: 1.5rem;
            color: white;
            cursor: pointer;
            font-size: 18px;
        }

        .fa-user {
            color: white;
            font-size: 18px;
            padding-top: 4px;
        }

        .user {
            display: flex;
        }

        .cursor {
            cursor: pointer;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.align-end {
    text-align: end;
}

.sub-menu {
    padding-bottom: 6px;

    .menu-item {
        color: white;
        font-size: 12pt;
        font-family: 'Roboto', sans-serif;
        padding: 0 0.75rem;
    }
}

.cursor {
    cursor: default !important;
}

.mat-mdc-menu-item .mat-icon {
    margin-right: 4px !important;
    height: 18px !important;
}

.mat-toolbar-row {
    height: 80px;
}

@media only screen and (max-width: 600px) {
    .head {
        padding: 0 !important;
    }

    .mat-toolbar-row {
        padding: 0 6px !important;
        height: 100px !important;
    }

    .head-content {
        padding: 0.4rem 0.25rem !important;
        display: block;

        .head-content-left {
            .span {
                font-size: 11pt !important;
                padding: 4px;
                margin: auto !important;
            }

            img {
                width: 50px !important;
                height: 50px !important;
            }
        }

        .head-content-right {

            .fa-bell {
                margin-left: 0.5rem !important;
                padding-top: 0px !important;
                padding-right: 5px !important;
            }

            mat-icon {
                width: auto !important;
                font-size: 12pt !important;
                padding-top: 0 !important;
            }

            .agency {
                font-size: 11pt !important;
                padding-top: 3px !important;
            }
        }
    }

    .sub-menu {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100% !important;
        display: block !important;
    }

    .menu-item {
        font-size: 9pt !important;
    }
}

@media only screen and (max-width: 400px) {
    .head {
        padding: 0 !important;
    }

    .mat-toolbar-row {
        padding: 0 6px !important;
        height: 100px !important;
    }

    .head-content {
        padding: 0.4rem 0.25rem !important;
        display: block !important;

        .head-content-left {
            .span {
                font-size: 10pt !important;
                padding: 4px;
                margin: auto !important;
            }

            img {
                width: 48px !important;
                height: 48px !important;
            }
        }

        .head-content-right {
            width: 100% !important;
            padding-left: 0 !important;

            .fa-bell {
                margin-left: 0.5rem !important;
                padding-top: 0px !important;
                padding-right: 5px !important;
            }

            mat-icon {
                width: auto !important;
                font-size: 10pt !important;
                padding-top: 3px !important;
            }

            .agency {
                font-size: 9pt !important;
                padding-top: 4px !important;
            }
        }
    }

    .sub-menu {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .menu-item {
        font-size: 10pt !important;

        mat-icon {
            font-size: 1rem !important;
            height: 1rem !important;
            width: 1rem !important;
        }
    }
}