<div class="container" #pdfTable>
    <div class="row">
        <div class="col-6">
            <h4 class="fw-600">{{'PRINT_PDF.TITLE_1' | translate}}</h4>
            <h6 class="fw-600">&nbsp;&nbsp;&nbsp;&nbsp;{{'PRINT_PDF.TITLE_2' | translate}}</h6>
        </div>
        <div class="col-6">
            <h6 class="cd text-right">{{confirmedDate}}</h6>
        </div>
    </div>
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-4">
            <img src="../../assets/images/logo_1.png" class="logo" />
        </div>
        <div class="col-8">
            <h3 class="fw-600 t3-margin top">{{'PRINT_PDF.TITLE_3' | translate}}</h3>
        </div>
    </div>
    <div class="row block left-1">
        <span class="label">{{'PRINT_PDF.AGENCY' | translate}}</span>
        <span class="s fw-600">{{agency}}</span>
    </div>
    <div class="row block left-1">
        <span class="label">{{'PRINT_PDF.DRIVER' | translate}}</span>
        <span class="s fw-600">{{driver}}</span>
    </div>
    <div class="row block left-1">
        <span class="label">{{'PRINT_PDF.LICENSE_PLATE' | translate}}</span>
        <span class="s fw-600">{{licensePlates}}</span>
    </div>
    <table mat-table [dataSource]="dataSource">
        <!-- STT Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="th-nowrap border-lr w-0">
                {{ "PRINT_PDF.NO" | translate }}</th>
            <td mat-cell *matCellDef="let element" class="center border-lr">
                {{element.no}}
            </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef class="th-nowrap">{{'PRINT_PDF.CATEGORY' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="align-left">{{element.category}}</td>
        </ng-container>

        <!-- Ton Column -->
        <ng-container matColumnDef="ton">
            <th mat-header-cell *matHeaderCellDef class="th-nowrap border-lr w-0">
                {{'PRINT_PDF.TON' | translate}}
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="center border-lr"
                [attr.rowspan]="getRowSpan('ton', i)" [style.display]="getRowSpan('ton', i) ? '' : 'none'">
                {{element.ton}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef class="th-nowrap border-lr">{{'ORDER.QUANTITY' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="border-lr align-center">{{element.amount}}</td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef class="th-nowrap">
                {{'ORDER.NOTE' | translate}}
            </th>
            <td mat-cell *matCellDef="let element; let i = index" class="align-left border-lr"
                [attr.rowspan]="getRowSpan('note', i)" [style.display]="getRowSpan('note', i) ? '' : 'none'">
                {{element.note}} </td>
        </ng-container>

        <!-- Footer row sum label -->
        <ng-container matColumnDef="footer-row-label">
            <th mat-footer-cell *matFooterCellDef class="center fw-600 border-b" [attr.colspan]="3">
                {{'PRINT_PDF.SUM' | translate}}
            </th>
        </ng-container>

        <!-- Footer row sum value -->
        <ng-container matColumnDef="footer-row-value">
            <th mat-footer-cell *matFooterCellDef class="border-lr border-b fw-600 align-center"> {{productTotal}} </th>
        </ng-container>
        <tr mat-header-row *matFooterRowDef="['footer-row-label', 'footer-row-value']"></tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <span class="label fw-600">{{'PRINT_PDF.TEXT' | translate}}{{numberToText}}</span>
    <h6 class="sd text-right">{{shippingDate}}</h6>
    <div class="row footer">
        <span class="fw fw-600 col-3">{{'PRINT_PDF.RECEIVER' | translate}}</span>
        <span class="fw fw-600 col-3">{{'PRINT_PDF.STOCKER' | translate}}</span>
        <span class="fw fw-600 col-3">{{'PRINT_PDF.SECURITY' | translate}}</span>
        <span class="fw fw-600 col-3">{{'PRINT_PDF.CREATOR' | translate}}</span>
    </div>
</div>
<div class="btn-container" id="action">
    <button mat-raised-button mat-button class="btn-cancel btn btn-info m-1" (click)="onCancel()">{{ 'BUTTON.CANCEL' |
        translate}}</button>
    <button mat-raised-button (click)="onPrint()" class="btn btn-info m-1" [disabled]="dataSource.data.length === 0">
        {{ 'BUTTON.PRINT' | translate}}
    </button>
</div>