<div class="container bg-white">
    <h2 class="header">{{ header }}</h2>
    <mat-dialog-content class="form-create shadow-md rounded px-8 pt-6 pb-8">
        <div class="mb-3 row field p-top">
            <span class="col-5 text-label" for="oldpassword">
                {{ "CHANGE_PASSWORD.OLD_PASSWORD" | translate }}
                <label class="require">*</label>
            </span>
            <input matInput class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline {{
            errorPassword.length !== 0 ? 'focus-p' : ''
          }}" id="password" type="password" placeholder="********" maxlength="30" [(ngModel)]="users.oldPassword"
                [ngModelOptions]="{ standalone: true }" [errorStateMatcher]="matcher" />
        </div>
        <div class="mb-3 row field">
            <span class="col-5 text-label" for="password">
                {{ "CHANGE_PASSWORD.NEW_PASSWORD" | translate }}
                <label class="require">*</label>
            </span>
            <input matInput class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline {{
            errorPassword.length !== 0 ? 'focus-p' : ''
          }}" id="password" type="password" placeholder="********" maxlength="30" [(ngModel)]="users.newPassword"
                [ngModelOptions]="{ standalone: true }" [errorStateMatcher]="matcher" />
        </div>
        <div class="mb-3 row field" >
            <span class="col-5 text-label" for="confirmPassword">
                {{ "CHANGE_PASSWORD.CONFIRM_NEW_PASSWORD" | translate }}
                <label class="require">*</label>
            </span>
            <input matInput class="col-7 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline {{
            errorPassword.length !== 0 ? 'focus-p' : ''
          }}" id="confirmPassword" type="password" placeholder="********" maxlength="30"
                [(ngModel)]="users.confirmNewPassword" [ngModelOptions]="{ standalone: true }"
                [errorStateMatcher]="matcher" />
        </div>
        <div class="mb-3 row field" *ngIf="errorPassword || (errorPassword !== null && errorPassword.length !== 0)">
            <div class="notification">
                <span class="span">{{ errorPassword }}</span>
            </div>
        </div>

        <div *ngIf="error || (error !== null && error.length !== 0)">
            <div class="col-5"></div>
            <div class="notification">
                <span class="span">{{ error }}</span>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close class="btn-cancel py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="onCancel()">
            {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button mat-button class="btn-save py-2 px-4 rounded focus:outline-none focus:shadow-outline {{loading ? 'disable' : ''}}" type="button"
            (click)="onSubmit()" [disabled]="loading">
            {{ "BUTTON.SAVE" | translate }}
        </button>
    </mat-dialog-actions>
</div>