<div class="container">
    <section class="tabs row">
        <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" />
        <label for="tab-1" class="tab-label-1">GIỚI THIỆU</label>

        <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" checked="checked" />
        <label for="tab-2" class="tab-label-2">SẢN PHẨM</label>

        <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
        <label for="tab-3" class="tab-label-3">LIÊN HỆ</label>

        <div class="clear-shadow"></div>

        <div class="content">
            <div class="content-1">
                <h2>VỀ CHÚNG TÔI</h2>
                <span>
                    <img class="img1" src="../../assets/images/nen1.jpg" />
                    <img class="img1" src="../../assets/images/nen2.jpg" />
                    <img class="img1" src="../../assets/images/nen3.jpg" />
                    <img class="img1" src="../../assets/images/nen4.jpg" />
                    <img class="img1" src="../../assets/images/nen5.jpg" />
                </span>

            </div>
            <div class="content-2">
                <h2>SẢN PHẨM</h2>
                <span>
                    <img class="img" src="../../assets/images/1.jpg" />
                    <img class="img" src="../../assets/images/2.jpg" />
                    <img class="img" src="../../assets/images/3.jpg" />
                    <img class="img" src="../../assets/images/4.jpg" />
                </span>
            </div>
            <div class="content-3">
                <h2>THÔNG TIN LIÊN HỆ</h2>
                <span>Công ty cổ phần xi măng Hà Tiên</span>
                <span> Địa chỉ: Số 218, Tỉnh lộ 11, ấp Hòn Chông, xã Bình An, huyện Kiên Lương, tỉnh Kiên Giang</span>
                <span> Email:phongkhkdxmht@gmail.com</span>
                <span>SĐT : 02973.759.360</span>
            </div>
        </div>
    </section>
</div>