<div class="container">
    <div id="slider">
        <ng-image-slider #nav [images]="imageObjects" [infinite]="false" [autoSlide]="5" [imagePopup]="false"
            [imageSize]="{ width: '100%', height: '70%' }" [defaultActiveImage]="0" [animationSpeed]="5"
            [lazyLoading]="true" [slideImage]="1">
        </ng-image-slider>
    </div>

    <div id="products">
        <h3>
            SẢN PHẨM XI MĂNG HÀ TIÊN
        </h3>
        <div class="div-product">
            <div class="row">
                <div class="col"></div>
                <div class="col-10">
                    <ng-image-slider #nav class="shadow" [images]="imageProducts" [infinite]="false" [autoSlide]="2"
                        [imagePopup]="false" [imageSize]="{ width: '30%', height: '40%' }" [animationSpeed]="2"
                        [lazyLoading]="true" [slideImage]="1" (imageClick)="imageClickHandler($event)">
                    </ng-image-slider>

                    <div id="desciption" class="shadow">
                        <p>
                            {{desciption}}
                        </p>
                        <button class="btn-hidden" mat-button (click)="onHidden()">
                            Ẩn
                            <mat-icon aria-hidden="false" fontSet="fas" fontIcon="fa-caret-up"
                                class="fa-icon"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <div id="intro" class="row">
        <div id="infor" class="col-7">
            <div id="div-title">
                <h5>
                    {{'INTRO' | translate}}
                </h5>
                <h3>
                    {{'TITLE_APP' | translate}}
                </h3>
            </div>

            <div id="content">
                <p>
                    Công ty cổ phần Xi măng Hà Tiên là Nhà máy Xi măng Hà Tiên do .... "thay thế vô đây"....
                </p>

                <button class="btn-detail" mat-raised-button mat-button (click)="onShowDetail()">
                    {{!showDetail ? 'Xem chi tiết' : 'Thu gọn lại' }}
                </button>

            </div>
        </div>

        <div id="contact" class="col-5">
            <h5>
                <p>
                    THÔNG TIN LIÊN HỆ
                </p>
            </h5>
            <h6>
                <p>
                    {{'TITLE_APP' | translate}}
                </p>
            </h6>

            <p>
                Địa chỉ: Số 218, Tỉnh lộ 11, ấp Hòn Chông, xã Bình An, huyện Kiên Lương, tỉnh Kiên Giang
            </p>
            <p>
                Email: phongkhkdxmht@gmail.com
            </p>
            <p>
                SĐT: 02973.759.360
            </p>
        </div>

        <div id="introDetail">
            <mat-divider></mat-divider>
            <p>
                Công ty cổ phần Xi măng Hà Tiên là Nhà máy Xi măng Hà Tiên do .... "thay thế vô đây"....
            </p>
        </div>
    </div>
</div>